
{{#each items as |item|}}
<main class="container container-fluid mt-5">
    <div class="card mb-3 overflow-auto" >
      <div class="row g-0">
        <div class="col-md-2">
          <img src="{{item.img_link}}" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-6">
          <div class="card-body">
            <h5 class="card-title">{{item.item_name}}</h5>
            <p class="card-text">{{item.description}}</p>
          </div>
        </div>
        <div class="col-md-2">
          <div class="card-body">
            <a href="{{item.purchase_link}}">Purchase Link</a>
            <p class="card-text"><small class="text-muted">Added by: {{item.user.username}}</small></p>
          </div>
        </div>
      </div>
    </div>
</main>
{{/each}}
