{{!-- <p>THIS IS THE USERS PAGE</p> --}}

  <div class="container-fluid">
    <div class="row row-cols-3">
      <div class="col-4">
        <div class="card m-2">
          <div class="card-header">
            <h4>The Wish List!</h4>
          </div>
        </div>
        {{#each commonLists as |commonList|}}
        <div class="card m-2">
          <div class="row g-0 d-flex align-items-center" style="height: 10rem">
            <div class="col-md-2">
              <img src="{{commonList.img_link}}" class="img-fluid rounded-start" alt="..." />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{commonList.item_name}}</h5>
                <p class="card-text">{{commonList.description}}</p>
              </div>
            </div>
            <div class="col-md-2">
              <div class="card-body">
                <a href="{{commonList.purchase_link}}">Purchase Link</a>
                <p class="card-text">
                  <small class="text-muted">{{commonList.user.username}}</small>
                </p>
              </div>
            </div>
          </div>
        </div>
        {{/each}}
      </div>
      <div class="col-4">
        <div class="card m-2">
          <div class="card-header">
            <h4>{{user.username}} Wish List!</h4>
          </div>
        </div>
        <div class="card m-2">
          <div class="row g-0 d-flex align-items-center" style="height: 10rem">
            <div class="col-md-2">
              <img src="{{user.commonList.img_link}}" class="img-fluid rounded-start" alt="..." />
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="card-title">{{user.commonList.item_name}}</h5>
                <p class="card-text">{{user.commonList.description}}</p>
              </div>
            </div>
            <div class="col-md-2">
              <div class="card-body">
                <a href="{{user.commonList.purchase_link}}">Purchase Link</a>
                <p class="card-text">
                  <small class="text-muted">Added by: {{user.username}}</small>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-4">
        <div class="card">
          <div class="card-body d-flex flex-column justify-content-center">
            <h5 class="card-title text-center">{{user.username}}</h5>
            <a href="#" class="btn btn-primary">Add user to favorites</a>
          </div>
        </div>
      </div>
    </div>
  </div>